		<footer class="footer">
			<div class="container footer__container">
				<div class="footer-column-contacts">
					<h2 class="footer-column-contacts__title footer__title">Contact Us</h2>
					<address class="footer-address">
						<span class="text footer-address__item">
							<span class="footer-address__name">Email</span>
							<a href="mailto:needhelp@organick.com" class="footer__link">
								needhelp@organick.com
							</a>
						</span>
						<span class="text footer-address__item">
							<span class="footer-address__name">Phone</span>
							<a href="tel:12312541452" class="footer__link">
								123 (1254) 1452
							</a>
						</span>
						<span class="text footer-address__item">
							<span class="footer-address__name">Address</span>
							<span class="footer-address__text">88 Road, Brooklyn Street, USA</span>
						</span>
					</address>
				</div>
				<div class="footer-column-about text-center">
					<a class="footer__logo" href="#">
						<img src="images/svg/logo.svg" width="199" height="54" alt="Company logo">
					</a>
					<p class="text footer-column-about__text">
						We are a popular and farming company aspiring to be a leader in the Organic food industry.
					</p>
					<div class="socials footer__socials">
						<a class="socials__item footer__social" target="_blank" href="#" aria-label="Instagram">
							<svg>
								<use xlink:href="images/sprite.svg#instagram"></use>
							</svg>
						</a>
						<a class="socials__item footer__social" target="_blank" href="#" aria-label="Facebook">
							<svg>
								<use xlink:href="images/sprite.svg#facebook"></use>
							</svg>
						</a>
						<a class="socials__item footer__social" target="_blank" href="#" aria-label="Twitter">
							<svg>
								<use xlink:href="images/sprite.svg#twitter"></use>
							</svg>
						</a>
						<a class="socials__item footer__social" target="_blank" href="#" aria-label="Pinterest">
							<svg>
								<use xlink:href="images/sprite.svg#pinterest"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="footer-column-utility">
					<h2 class="footer-column-utility__title footer__title">Utility Pages</h2>
					<ul class="list-reset footer-column-utility__list">
						<li class="footer-column-utility__item">
							<a class="text footer__link footer-column-utility__link" href="#">Style Guide</a>
						</li>
						<li class="footer-column-utility__item">
							<a class="text footer__link footer-column-utility__link" href="#">404 Not Found</a>
						</li>
						<li class="footer-column-utility__item">
							<a class="text footer__link footer-column-utility__link" href="#">Password Protected</a>
						</li>
						<li class="footer-column-utility__item">
							<a class="text footer__link footer-column-utility__link" href="#">Licences</a>
						</li>
						<li class="footer-column-utility__item">
							<a class="text footer__link footer-column-utility__link" href="#">Changelog</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-line">
				<div class="container text-center footer-line__container">
					<small class="text footer__copy">
						Copyright © <span>Organick</span> | All rights reserved
					</small>
				</div>
			</div>
		</footer>
	</div>
	<script src="js/main.min.js"></script>
</body>

</html>