.home-products{
	padding-bottom: 12.5rem;
	@include breakpoint1450{
		padding-bottom: 7.5rem;
	}
	@include breakpoint1260{
		padding-bottom: 5.5rem;
	}
	&__container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&-title-area{
		margin-bottom: 2.5rem;
	}
}