.nav{
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	@include breakpoint1024{
		@include menu;
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		column-gap: 2.5rem;
		row-gap: 1.25rem;
		@include breakpoint1450{
			column-gap: 1.25rem;
		}
		@include breakpoint1260{
			column-gap: 2rem;
		}
		@include breakpoint1024{
			flex-direction: column;
			align-items: start;
			row-gap: 2.1875rem;
		}
	}
	&__item{
		position: relative;
		padding: 1.25rem 0;
		@media (min-width: 64em){
			&:hover .nav__list--dropdown{
				visibility: visible;
				opacity: 1;
			}
		}
		@include breakpoint1024{
			padding: 0;
		}
	}
	&__link{
		@extend %rb-medium;
		font-size: 1.25rem;
		transition: color .2s ease;
		@include hover{
			color: var(--color-green);
		}
	}
	&__link--current{
		color: var(--color-green) !important;
		pointer-events: none !important;
	}
	&__link--drop{
		position: relative;
		padding-right: 1.5625rem;
		cursor: pointer;
		&::after{
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1.25rem;
			height: 1.25rem;
			background-image: url("../images/svg/arrow-down.svg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		@include hover{
			color: var(--color-dianne);
		}
	}
	&__list--dropdown{
		position: absolute;
		z-index: 10;
		background-color: var(--color-saltpan);
		top: 100%;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: start;
		row-gap: 1.5625rem;
		min-width: 12.5rem;
		padding: 2.5rem 2.5rem 2.5rem 1.875rem;
		visibility: hidden;
		opacity: 0;
		@include breakpoint1024{
			position: static;
			display: none;
			min-width: unset;
			visibility: visible;
			opacity: 1;
			padding: 1.875rem 0 0.625rem 1.25rem;
		}
		&.dropdown-list--active{
			display: flex;
		}
	}
}

.dropdown-list{
	&__link{
		color: var(--color-black);
		@include breakpoint1024{
			font-size: 1.125rem;
			color: var(--color-dianne);
		}
	}
}